@import url('https://fonts.cdnfonts.com/css/futura-std-4');
body {
    font-family: "Futura Std", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header h1 {
    font-size: 3em;
}
.logo {
    display: block;
    margin: 20px auto;
    width: 200px; /* Můžete upravit velikost podle potřeby */
}
.black-div {
    background-color: black; /* Černé pozadí */
    color: white; /* Bílý text */
    padding: 3px; /* Vnitřní okraje */
    text-align: center; /* Vycentrování textu */
}
header a {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}
.text-obr {
    display: flex;
    margin: 20px auto;
    width: 300px;
    align-content: center;
    -ms-flex-align: center;
}
.text {
    background-color: rgb(170, 170, 170);
    color: black;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    }